.header_wrapper{
    background-color: #33363c;
}
.header{
    margin: 0 auto;
    max-width: 1300px;
    padding: 0 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_logo{
}
.header_logo img{
    height: 70px;
}
.header img:hover {
    filter: sepia(1) hue-rotate(320deg) saturate(10);
}
.menu{
    margin: 0 40px;
}
.menu li{
    display: inline-block;
}
.menu li + li{
    margin-left: 50px;
}
.menu li a{
    display: inline-block;
    color: #ffffff;
    line-height: 30px;
    font-weight: bold;
}
.menu a:hover{
    color: burlywood;
}
.menu a.active{
    border-top: 2px solid seagreen;
}
