.add_post_wrapper{
    background-color: #292E49;
    border-radius: 10px 0 10px 0;
    padding: 10px;
    margin-bottom: 10px;
}
.add_post{
}
.add_post_form{
}
.add_post_form textarea{
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    min-height: 30px;
}