body::-webkit-scrollbar {
    width: 0;
    height: 0;
}
body{
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;

    background: url("./images/low_poly_abstract_design_background_0107.jpg") no-repeat;
    background-size: 100% 100vh;
}
.app-wrapper {
}
.nav-and-content{
    margin: 10px auto 0;
    padding: 0 5px;
    max-width: 1310px;
    display: flex;
    gap: 20px;
}
